doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Movies
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Movies
    .row
      .small-12.columns
        form#movie
          fieldset
            legend Movie
            .row
              .small-3.columns
                label Name
                  input(type='text', name='name')#name
              .small-3.columns
                label Rating
                  input(type='text', name='rating')#rating
              .small-3.columns
                label Running Time
                  input(type='text', name='runningTime')#runningTime
              .small-3.columns
                label Release Year
                  input(type='text', name='releaseYear')#releaseYear
            .row
              .small-3.columns
                label Studio
                  input(type='text', name='studio')#studio
              .small-3.columns
                label Actors
                  input(type='text', name='actors')#actors
              .small-3.columns
                label Director
                  input(type='text', name='director')#director
              .small-3.columns
                label Poster
                  input(type='text', name='poster')#poster
            .row
              .small-9.columns
              .small-3.columns
                input(type='hidden')#_id
                button#submit-movie Submit Movie
    .row
      .small-11.columns
      .small-1.columns
        button#get-movies Get Movies
    .row
      .small-12.columns
        table#movies
          thead
            tr
              th Name
              th Rating
              th Running Time
              th Release Year
              th Studio
              th Actors
              th Director
              th Poster
            tbody

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

